@import './base.css';

body {
  background: linear-gradient(180deg, rgb(58, 53, 87), rgb(53, 53 ,88));
  overflow: hidden;
}


/* Açık Tema Scrollbar Tasarımı */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Daha açık bir renk */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* Açık gri tonunda */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Hover renginde hafif koyuluk */
}

* {
  scrollbar-width: thin; /* Daha ince scrollbar */
  scrollbar-color: #c0c0c0 #f0f0f0; /* Minimal açık tema renkleri */
}
